{% extends 'base.html' %}
{% block titulo %} Listado de peliculas {% endblock %}
{% block content %}
    <div class="container">
      <div class="row">

          <div class="col-md-12">
            <h1>Listado de Movies</h1>
            <hr>
            <a href="{% url 'movie_create' %}" class="btn btn-primary pull-right">
              <span class="glyphicon glyphicon-plus"></span> Agregar</a>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Año</td>
                    <td>Categoría</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {% for movie in object_list %}
                  <tr>
                    <td>{{movie.pk}}</td>
                    <td><a href="{% url 'movie_edit' movie.id %}">{{movie.name}}</a></td>
                    <td>{{movie.anio}}</td>
                    <td>{{movie.category.name}}</td>
                    <td><a href="{% url 'movie_delete' movie.id %}" class="btn btn-danger delete" data-movie-name="{{movie.name}}">
                      <span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
      </div>
    </div>
  {% endblock %}
